{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}



<div class="d-flex flex-wrap px-5 align-items-center">
  <div class="col-6">
    <h1>Welcome to Amicable Comreds Cave</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nihil accusamus sapiente consectetur, debitis adipisci voluptatum repudiandae nemo eos qui, doloremque error officiis et?
      Quos facere odit repellendus?</p>

  </div>

  <div class="col-6">
    <img src="{% static 'images/fullbodyimg.webp' %}" alt="">


  </div>

</div>

<div class="d-flex flex-wrap p-4">
  <div class="col-2 bg-light p-3">
    <h5>All Catagories</h5>
    {% for cat in category %}

    <div class="form-check">
      <input class="form-check-input" type="radio" name="category" id="{{cat.id}}">
      <label class="form-check-label" for="{{cat.name}}">
       
        <a href="{% url 'category_wise_post' cat.slug %}">{{cat.name}}</a>
      </label>
    </div>
  </div>
  {% endfor %}


  <div class="col-10 p-3">
    <h4>{{data | length }} results found</h4>
    <div class="d-flex flex-wrap">
    
      {% for task in data %}
      <div class="col-sm-3">
          <div class="card mx-2">
              <div class="card-body">
                <h4>ID : {{task.id}}</h4>              
                <h5>{{task.title}}</h5>              
                <h6 class="card-subtitle mb-2 text-muted">{{task.assign_date}}</h6>
                <p class="card-text">{{task.description}}</p>
                <p>Author: {{task.author.first_name}} {{task.author.last_name}}</p>
                <p>Category : 
                  {% for cat in task.category.all %}
                  <button class="btn btn-warning btn-sm m-1">{{cat.name}}</button>
  
                  {% endfor %}
                </p>             
                
              </div>
            </div>
      </div>
      {% endfor %}  
          
  </div>

  </div>
</div>
{% endblock %}